.main {
  margin-top: 40px;
  flex-grow: 1;
}

.main__header {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 34px;
}

.main__cards-list {
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 323px);
}
